<% layout('layouts/boilerplate.ejs') %>

    <h1>Campground details</h1>
    <h2>
        <%= campground.title %>
    </h2>
    <h3>
        <%= campground.location %>
    </h3>
    <img src="<%= campground.image %>" alt="camp image">
    <p><%= campground.description %> </p>

    <div>
        <a href="/campgrounds/<%=campground._id%>/edit">Edit</a>
    </div>

    <form action="/campgrounds/<%=campground._id%>?_method=DELETE" method="POST">
        <button>Delete</button>
    </form>

    <a href="/campgrounds">All campgrounds</a>