<% layout("layouts/boilerplate.ejs") %>

    <div class="container d-flex justify-content-center align-items-center mt-5">
        <div class="row" style="width: 100%;">
            <h1 class="text-center section-title">Edit Campground</h5>
            <div class="col-md-8 offset-md-2 col-xl-6 offset-xl-3">
                <div class="card shadow">
    
                    <div class="card-body">
                        
                        <form action="/campgrounds/<%=campground._id%>?_method=PUT" method="POST" class="validated-form" enctype="multipart/form-data" novalidate>

                            <!-- title -->
                            <div class="mb-3">
                                <label class="form-label" for="titleInp">Title</label>
                                <input class="form-control" type="text" name="campground[title]" id="titleInp"
                                    value="<%=campground.title%>" required>
                                <div class="valid-feedback">Looks good!</div>
                            </div>
            
                            <!-- location -->
                            <div class="mb-3">
                                <label class="form-label" for="locationInp">Location</label>
                                <input class="form-control" type="text" name="campground[location]" id="locationInp"
                                    value="<%=campground.location%>" required>
                                <div class="valid-feedback">Looks good!</div>
                            </div>
            
                            <!-- image -->
                            <div class="mb-3">
                                <label for="formFileMultiple" class="form-label">Add images</label>
                                <input class="form-control" type="file" id="formFileMultiple" name="image" multiple>
                              </div>
            
                            <!-- description -->
                            <div class="mb-3">
                                <label class="form-label" for="descriptionInp">Description</label>
                                <textarea class="form-control" type="text" name="campground[description]" id="descriptionInp"
                                    required><%=campground.description%></textarea>
                                <div class="valid-feedback">Looks good!</div>
                            </div>
            
                            <!-- price -->
                            <div class="mb-3">
                                <label class="form-label" for="price">Campground Price</label>
                                <div class="input-group">
                                    <span class="input-group-text" id="price-label">$</span>
                                    <input type="text" class="form-control" id="price" placeholder="0.00" name="campground[price]"
                                        value="<%=campground.price%>" required>
                                    <div class="valid-feedback">Looks good!</div>
                                </div>
                            </div>
            
                            <!-- current images -->
                            <div class="mb-3">
                                <% campground.images.forEach(function(img, i){ %>
                                    <div class="mb-3">
                                        <img src="<%= img.thumbnail %>" class = "img-thumbnail" alt=""> 
                                        <div class="form-check-inline">
                                            <input type="checkbox" id="cb<%= i %>" name="deleteImages[]" value="<%= img.filename %>">
                                        </div>
                                        <label for="cb<%= i %>">Delete?</label>
                                    </div>
                                <% }); %> 
                            </div>
                            <!-- submit -->
                            <div class="mb-3">
                                <button class="btn btn-info">Update Campground</button>
                            </div>
            
                        </form>
                        <a href="/campgrounds">Cancel</a>          
    
                    </div>
    
                </div>
            </div>
        </div>
    </div> 